[submodule "sub-I46/micr/sub-I46_sample-somatosensory_chunk-02_OCT.ome.zarr"]
	path = sub-I46/micr/sub-I46_sample-somatosensory_chunk-02_OCT.ome.zarr
	url = https://github.com/dandizarrs/2aedcf87-6903-4080-9ccc-c17f1f13bc82
	datalad-id = f209bff6-a93e-44d6-b9ab-145d2aaff657
[submodule "sub-I46/micr/sub-I46_sample-somatosensory_chunk-01_OCT.ome.zarr"]
	path = sub-I46/micr/sub-I46_sample-somatosensory_chunk-01_OCT.ome.zarr
	url = https://github.com/dandizarrs/acffe53b-4849-4cc2-a01d-06e424896745
	datalad-id = a076dc3a-e23e-473b-9fc0-4ad40eef3687
[submodule "derivatives/predictions/sub-I46/micr/sub-I46_sample-somatosensory_chunk-01_label-vessels_probseg.ome.zarr"]
	path = derivatives/predictions/sub-I46/micr/sub-I46_sample-somatosensory_chunk-01_label-vessels_probseg.ome.zarr
	url = https://github.com/dandizarrs/e324c757-31b3-4ec6-a7e6-25f133420632
	datalad-id = 575953e7-e577-4da6-aa51-ec20fa2d7ff9
[submodule "derivatives/predictions/sub-I46/micr/sub-I46_sample-somatosensory_chunk-01_label-vessels_mask.ome.zarr"]
	path = derivatives/predictions/sub-I46/micr/sub-I46_sample-somatosensory_chunk-01_label-vessels_mask.ome.zarr
	url = https://github.com/dandizarrs/c7913931-1ff7-4fe8-a86d-92b31947cb31
	datalad-id = 417f97c7-158f-4956-af8d-c4fcd5735c06
[submodule "derivatives/predictions/sub-I46/micr/sub-I46_sample-somatosensory_chunk-02_label-vessels_mask.ome.zarr"]
	path = derivatives/predictions/sub-I46/micr/sub-I46_sample-somatosensory_chunk-02_label-vessels_mask.ome.zarr
	url = https://github.com/dandizarrs/09695754-9b16-43af-9f38-d9bda2f27789
	datalad-id = 9f8bc390-b483-400f-83a2-f77a16ed32be
[submodule "derivatives/predictions/sub-I46/micr/sub-I46_sample-somatosensory_chunk-02_label-vessels_probseg.ome.zarr"]
	path = derivatives/predictions/sub-I46/micr/sub-I46_sample-somatosensory_chunk-02_label-vessels_probseg.ome.zarr
	url = https://github.com/dandizarrs/99da94d2-1cd8-4efc-a9c1-19c4267315fe
	datalad-id = 03594b9e-8870-44ab-8d0d-2e01644eafe5
[submodule "derivatives/annotations/sub-I46/micr/sub-I46_sample-somatosensory_chunk-02_label-vessels_mask.ome.zarr"]
	path = derivatives/annotations/sub-I46/micr/sub-I46_sample-somatosensory_chunk-02_label-vessels_mask.ome.zarr
	url = https://github.com/dandizarrs/c5e65f3d-27b8-4d62-b54d-fc0c0e5c6ca8
	datalad-id = 6ea69003-3377-464e-a1e2-4b0e534223d2
[submodule "derivatives/annotations/sub-I46/micr/sub-I46_sample-somatosensory_chunk-01_label-tissue_mask.ome.zarr"]
	path = derivatives/annotations/sub-I46/micr/sub-I46_sample-somatosensory_chunk-01_label-tissue_mask.ome.zarr
	url = https://github.com/dandizarrs/89663cb1-1526-49fa-b7ec-5de02f9e3adb
	datalad-id = c816225f-09f5-4bfa-aa9d-553315206cdf
